span{
	color: #1e09ff;
	font-size: 24px;
	font-family: Britannic, Times New Roman;
	font-weight: bold;
	text-decoration: underline;
	}
a{
	color: #1e09ff;
	font-size: 20px;
	font-family: Britannic, Times New Roman;
	text-decoration: none;
}